/* =========================== google font import ============================ */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
/* =========================== google font import ============================ */

/* =========================== universal css reset ============================ */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Azeret Mono", monospace, sans-serif;
}
/* =========================== universal css reset ============================ */

/* =========================== css reusable selector ============================ */
.container{
    max-width: 1440px;
    margin: 0 auto;
}

.title{
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    color: #0D1321;
}

.para{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #0D1321;
    opacity: 0.7;
}

.title2{
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    color: rgba(13, 19, 33, 0.7);
}
/* =========================== css reusable selector ============================ */

/* =========================== header section start ============================ */
#header-section{
    width: 100%;
    height: 100vh;
}

.header-nav{
    width: 100%;
    height: 113px;
}

.header-nav .header-content{
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav .header-content .logo{
    font-size: 28px;
    font-weight: 800;
    color: #0D1321;
}

.header-nav .header-content .header-btn{
    padding: 17px 24px;
    background: none;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    font-size: 20px;
    font-weight: 600;
    color: #0D1321;
    cursor: pointer;
}

.hero-section{
    width: 100%;
    height: 832px;
    background-image: url("../assets/bg-img/hero-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section .hero-container{
    width: 1220px;
    height: 582px;
    text-align: center;
}

.hero-section .hero-container .hero-img{
    margin: 0 0 32px;
}

.hero-section .hero-container .hero-title{
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    color: #0D1321;
    margin-bottom: 24px
}

.hero-section  .hero-container .hero-para{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #0D1321;
    opacity: 0.7;
    margin-bottom: 32px;
}

.hero-section .hero-container .btn-box .hero-btn{
    font-size: 20px;
    font-weight: 600;
    color: #FFFFFF;
    padding: 21px 24px;
    background-color: #0D1321;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
/* =========================== header section end ============================ */

/* =========================== main section start ============================ */
#web-development{
    width: 100%;
    height: 160vh;
}

.web-dev-content{
    width: 100%;
    height: auto;
    padding: 80px 97px;
    margin-top: 74px;
    background-color: rgba(13, 19, 33, 0.02);
    border-radius: 16px;
}

.web-dev-content .web-dev-heading{
    width: 1220px;
    height: 115;
    text-align: center;
    margin: 0 auto 48px;
}

.web-dev-content .web-dev-heading .web-dev-title{
    margin-bottom: 24px;
}

.web-dev-content .web-dev-box{
    width: 100%;
    height: auto;
    padding: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 98px; */
    border-radius: 16px;
    margin-bottom: 32px;
}

.web-dev-content .flex-dir1{
    flex-direction: row;
    background-image: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}

.web-dev-content .flex-dir2{
    flex-direction: row-reverse;
    background-image: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}

.web-dev-content .flex-dir3{
    flex-direction: row;
    background-image: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}

.web-dev-content .web-dev-box .web-dev-box-details{
    width: 600px;
    margin-right: 200px;
}

.web-dev-content .web-dev-box .box-2{
    margin-right: 220px;
}

.web-dev-content .web-dev-box .web-dev-box-img{
    width: 274px;
    height: 240px;
}

.web-dev-content .web-dev-box .img-2{
    margin-right: 20px;
}

.web-dev-content .web-dev-box .web-dev-box-details .web-dev-box-title{
    margin-bottom: 16px;
}

.web-dev-content .web-dev-box .web-dev-box-details .web-dev-box-para{
    margin-bottom: 32px;
}

.web-dev-content .web-dev-box .web-dev-box-details .web-dev-box-btn{
    padding: 12px 20px;
    background: none;
    opacity: 0.7;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.web-dev-content .web-dev-box .web-dev-box-details .web-dev-box-btn .btn-link{
    text-decoration: none;
    color:#0D1321;
}

#my-inspiration{
    width: 100%;
    height: 85vh;
}

.my-ins-content{
    width: 100%;
    height: auto;
}

.my-ins-content .my-ins-heading{
    width: 952px;
    text-align: center;
    margin: 0 auto 48px;
}

.my-ins-content .my-ins-heading .my-ins-title{
    margin-bottom: 24px;
}

.my-ins-content .my-ins-video-container{
    width: 1076px;
    height: 550px;
    margin: 0 auto;
    padding: 32px;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
}

.my-ins-content .my-ins-video-container .video-frame{
    width: 100%;
    height: 100%;
}

#my-current-target{
    width: 100%;
    height: 550px;
}

.my-current-target-content{
    width: 100%;
    height: 100%;
}

.my-current-target-content .my-cur-tar-heading{
    width: 1150px;
    margin: 0 auto 48px;
    text-align: center;
}

.my-current-target-content .my-cur-tar-heading .my-cur-tar-title{
    margin-bottom: 24px;
}

.my-current-target-content .my-cur-tar-card-box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.my-current-target-content .my-cur-tar-card-box .card-box{
    width: 400px;
    height: auto;
    padding: 40px;
    border-radius: 16px;
}

.my-current-target-content .my-cur-tar-card-box .html-box{
    background-color: rgba(255, 76, 30, 0.05);
}

.my-current-target-content .my-cur-tar-card-box .css-box{
    background-color: rgba(0, 76, 232, 0.05);
}

.my-current-target-content .my-cur-tar-card-box .js-box{
    background-color: rgba(255, 223, 0, 0.05);
}

.my-current-target-content .my-cur-tar-card-box .card-box .icon{
    margin-bottom: 24px;
}

.my-current-target-content .my-cur-tar-card-box .card-box .card-box-title{
    font-size: 24px;
    font-weight: 800;
    color: #0D1321;
    margin-bottom: 8px;
}

.my-current-target-content .my-cur-tar-card-box .card-box .card-box-para{
    margin-bottom: 24px;
}

.my-current-target-content .my-cur-tar-card-box .card-box .card-box-link{
    font-size: 16px;
    font-weight: 700;
    color: #0D1321;
    text-decoration: none;
    border-bottom: 2px solid #0D1321;
}
/* =========================== main section end ============================ */

/* =========================== footer section start ============================ */
/* =========================== footer section end ============================ */