/* =========================== google font import ============================ */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
/* =========================== google font import ============================ */

/* =========================== universal css reset ============================ */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Azeret Mono", monospace, sans-serif;
}
/* =========================== universal css reset ============================ */

/* =========================== css reusable selector ============================ */
.container{
    max-width: 1440px;
    margin: 0 auto;
}
/* =========================== css reusable selector ============================ */

/* =========================== header section start ============================ */
#header-section{
    width: 100%;
    height: 100vh;
}

.header-nav{
    width: 100%;
    height: 113px;
}

.header-nav .header-content{
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav .header-content .logo{
    font-size: 28px;
    font-weight: 800;
    color: #0D1321;
}

.header-nav .header-content .header-btn{
    padding: 17px 24px;
    background: none;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    font-size: 20px;
    font-weight: 600;
    color: #0D1321;
    cursor: pointer;
}

.hero-section{
    width: 100%;
    height: 832px;
    background-image: url("../assets/bg-img/hero-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section .hero-container{
    width: 1220px;
    height: 582px;
    text-align: center;
}

.hero-section .hero-container .hero-img{
    margin: 0 0 32px;
}

.hero-section .hero-container .hero-title{
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    color: #0D1321;
    margin-bottom: 24px
}

.hero-section  .hero-container .hero-para{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #0D1321;
    opacity: 0.7;
    margin-bottom: 32px;
}

.hero-section .hero-container .btn-box .hero-btn{
    font-size: 20px;
    font-weight: 600;
    color: #FFFFFF;
    padding: 21px 24px;
    background-color: #0D1321;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
/* =========================== header section end ============================ */

/* =========================== main section start ============================ */

/* =========================== main section end ============================ */

/* =========================== footer section start ============================ */
/* =========================== footer section end ============================ */